/backupHistory.json
/*.4BK
/*.4BL
/Components
/Data
/Documentation
/Libraries/lib4d-*.dylib
/Logs
/Logs_4D
/Plugins
/Project/DerivedData
/Project/Sources/Methods/Méthode*.4dm
/Project/Sources/Methods/Method*.4dm
/Project/Trash
/Settings/4DPop
/Settings/backup.4DSettings
/Settings/buildApp.4DSettings
/userPreferences.*

/test.txt
/Project/logs
